.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(329.54deg, #F5F5F5 0%, #DCDCDC 100%);
    min-height: 100vh;
    width: 100%,
  }

header {
    display: flex;
    margin-top: 2rem;
    justify-content: center;
}

.container {
    margin-top: 2rem;
    height: 60vh;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.container button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    margin: 1.4rem;
    width: 10rem;
    height: 10rem;
    border: 0;
    cursor: pointer;
    background: #bbb8b8;
    border-radius: 2rem;
    color: black;
}

.image-button {
    width: 50%;
    height: 50%;
    margin-bottom: 1rem;
}

a.addButton {
    position: absolute;
    right: 4rem;
    bottom: 4rem;
  
    z-index: 10;
  
    background: none;
    border: 0;
    border-radius: 1rem;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    transition: background-color 200ms;
  }

.addButton img {
    width: 2rem;
    height: 2rem; 
}